@{
    ViewData["Title"] = "Thank you page";
}


<div class="text-center mt-5 mb-5">
    <h1>Thank you for booking your next trip with us!</h1>
    <div class="container mt-5">
        <img src="~/images/airplane.jpg" asp-append-version="true" height="350" width="700" />
    </div>
</div>
